[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"


[packages]

[dev-packages]
pytest = "*"
isort = "*"
ruff = "*"
exceptiongroup = "*"

[scripts]
test = "pytest"
lint = "ruff check"
format = "sh -c 'ruff check --fix ; ruff format' "
